/* General Styles */
body {
    background-color: #b3b3cc;
    color: #660066;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

/* Side Panels */
.left-side, .right-side {
    width: 125px;
    position: absolute;
    top: 80px;
    height: fit-content;
    z-index: 998;
    background-color: #c4c3d0;
    padding: 10px;
    border: 1.5px solid #660066;
    bottom: 0;
}

/* Left Side Panel */
.left-side {
    left: 10px;
}

/* Right Side Panel */
.right-side {
    right: 10px;
}

/* Navigation Menu Styles */
.navigation-menu {
    list-style-type: none;
    padding: 0;
}

.navigation-menu li {
    display: inline-block;
    margin-right: 20px;
}

.navigation-menu li a {
    text-decoration: none;
    text-decoration: none;
    color: #0067a5;
}

.navigation-menu li a:hover {
    color: #002147;
}

/* Main Content Container */
.content-container {
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    position: relative; /* Ensure content-container stays below side rectangles */
    z-index: 1; /* Ensures content-container is above side rectangles */
}

/* Header Section */
.welcome-box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4c3d0;
    color: #660066;
    border: 1.5px solid #660066;
    /*border-radius: 10px;*/
    margin-top: 50px;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

/* Header Section */
.welcome-box h1 {
    text-align: center;
}

/* About Me Box */
.about-me-box {
    /*display: flex;*/
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    margin-right: 100px;
    background-color: #c4c3d0;
    color: #660066;
    box-sizing: border-box;
    border: 1.5px solid #660066;
    margin-top: 20px;
    position: relative;
    left: 0;
    padding-bottom: 10px;
}

/* Centers About Me heading within the .about-me-box */
.about-me-box h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: relative;
}

/* Add full-width line under heading */
.about-me-box h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #660066;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Profile Photo */
.profile-photo {
    width: 175px;
    height: auto;
    margin-left: -7px;
}

.profile-img {
    width: 100%;
    height: auto;
    border: 1.5px solid #660066;
}

/* About Me Icons */
.aboutme-icons {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}

/* Pets Box */
.pets-box {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c4c3d0;
    color: #660066;
    box-sizing: border-box;
    border: 1.5px solid #660066;
    margin-top: 20px;
    position: relative;
    left: 0;
    padding-bottom: 40px;
}

/* Centers Pets heading within the .pets-box */
.pets-box h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: relative;
}

/* Add full-width line under Pets heading */
.pets-box h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #660066;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Education Box */
.education-box {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c4c3d0;
    color: #660066;
    box-sizing: border-box;
    border: 1.5px solid #660066;
    margin-top: 20px;
    position: relative;
    left: 0;
    padding-bottom: 40px;
}

/* Centers Education heading within the .education-box */
.education-box h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: relative;
}

/* Add full-width line under Education heading */
.education-box h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #660066;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Career Box */
.career {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c4c3d0;
    color: #660066;
    box-sizing: border-box;
    border: 1.5px solid #660066;
    margin-top: 20px;
    position: relative;
    left: 0;
    padding-bottom: 40px;
}

/* Centers Career heading within the .career-box */
.career h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: relative;
}

/* Add full-width line under Career heading */
.career h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #660066;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Charlie images */
.char-images {
    width: 175px;
    height: auto;
}

.char-img {
    width: 100%;
    height: auto;
    border: 1.5px solid #660066;
}

/* Levi images */
.levi-images {
    width: 175px;
    height: auto;
}

.levi-img {
    width: 100%;
    height: auto;
    border: 1.5px solid #660066;
}

/* Music Bar */
.music-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 30px;
    background-color: #333;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.music-bar span {
    animation: scroll 10s linear;
}

/* keyframes for Scrolling Animation */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
