/* General Styles */
body {
    background-color: #b3b3cc;
    color: #660066;
}

/* Side Rectangle */
.left-side, .right-side {
    width: 125px;
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 10;
    background-color: #c4c3d0;
    padding: 10px;
    border: 2px solid #660066;
}

.left-side {
    left: 10px;
}

.right-side {
    right: 10px;
}

/* Main Content Container */
.content-container {
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    position: relative; /* Ensure content-container stays below side rectangles */
    z-index: 1; /* Ensures content-container is above side rectangles */
}

/* Header Section */
.welcome-box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4c3d0;
    color: #660066;
    border: 2px solid #660066;
    /*border-radius: 10px;*/
    margin-top: 50px;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

/* Header Section */
.welcome-box h1 {
    text-align: center;
}

/* About Me Box */
.about-me-box {
    /*display: flex;*/
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    margin-right: 100px;
    background-color: #c4c3d0;
    color: #660066;
    box-sizing: border-box;
    border: 2px solid #660066;
    margin-top: 20px;
    position: relative;
    left: 0;
}

/* Profile Photo */
.profile-photo {
    width: 175px;
    height: auto;
    margin-left: -7px;
}

.profile-img {
    width: 100%;
    height: auto;
}

/* Charlie images */
.char-images {
    width: 175px;
    height: auto;
}

.char-img {
    width: 75%;
    height: auto;
}

/* Levi images */
.levi-images {
    width: 175px;
    height: auto;
}

.levi-img {
    width: 75%;
    height: auto;
}

/* Music Bar */
.music-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 30px;
    background-color: #333;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.music-bar span {
    animation: scroll 10s linear;
}

/* keyframes for Scrolling Animation */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
